body{
    text-align: center;
    background-color: aqua;
    margin-top: 50px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    border-radius: 50px;
    border: 0px;
}
#time{
    border: 1px solid red;
    border-radius: 40px;
    width:150px;
    margin-left: 600px;
    background-color: red;
    padding: 10px;
}
p{
    font-size: 20px;
}